.card-container {
  margin-bottom: 10px;
}

.image-container {
  height: 160px;
  width: 100px;
  float: left;
  margin-right: 4px;
}

.img {
  max-height: 160px;
  max-width: 100px;
}

.author-container {
  font-size: 0.75rem;
}
